/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Playfair-Display", serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #FBF9F7;
    --highlight-color: #6c7b6a;
    --highlight-color-dark: #3A3A3A;
}

/* Global Styles */
body
 {
      height: 100%;
      font-display: flex;
      flex-direction: column;
      font-family: var(--secondary-font);
      background-color:var(--primary-color);
}

main {
   flex: 1;
}

h1,
h2
 {
    font-family: var(--primary-font);
    color: var(--highlight-color);
}

h3,
h5
 {
   font-family: var(--primary-font); 
   color: var(--highlight-color);
 }

 p 
 {
   font-family: var(--secondary-font);
 }

.section {
   padding-top: 1rem;
}

label {
   font-family: var(--primary-font);
}

/* For internal linking - scrolls down above section */

html {
  scroll-behavior: smooth;
}

section {
   scroll-margin-top: 70px;
}

/* Navbar - Keepsnavbar stuck to the top while scrolling*/
#navbar {
   position: sticky;
   top: 0;
   z-index: 1000;
   background-color: var(--highlight-color-dark); 
   font-family: var(--primary-font);
}

#navbar .nav-item {
   margin: 0 20px;
   font-size: 17px;
}

/* Hide arrows on Carousel */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

/* Menu section */
#menu .card {
   margin-bottom: 1.5rem;
   width: 20rem;
}

/* create circular images in menu cards */
#menu-image-1,
#menu-image-2,
#menu-image-3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* Cards for full menus on menu.html */
.card-title {
   text-decoration: underline;
}

#full-menu .card {
   border: 0.5px solid #3A3A3A;
}

#full-menu h3 {
   font-family: var(--primary-font); 
   color: var(--highlight-color);
}

/* Buttons */

/* For call to action buttons of "book now" */
.btn {
   font-family: var(--primary-font);
   background-color:	#B0A14F;
   border: none;
}

.btn:hover {
   background-color: #9f8f3f;
}

.btn:active {
  background-color: #9F8F3F !important;
}

/* For menu buttons on home page and forms*/
.btn-dark {
   font-family: var(--primary-font);
   background-color: #6c7b6a;
   border: none;
}

.btn-dark:hover {
   background-color: #6A796A;
}

.btn-dark:active {
  background-color: #6A796A;
}

/* Footer & Contact section */
footer {
   background-color:var(--highlight-color-dark);
   margin-top: 15px;
}

footer h2
 {
   color: #ffffff;
}

footer h3 {
   color: #8fa18c;
}

footer p {
   color: #ffffff;
}

footer address {
   color: #ffffff;
}

footer i {
   color: #ffffff;
   margin-right: 0.25rem;
}

#opening-hours * {
   background-color: var(--highlight-color-dark);
   max-width: auto;
}

